---
layout: default
---

<div class="sticky-info">
  <h2>Welcome to Maptime WestSlope!</h2>
  <p>Let's map the Western Slope! Yeah, yeah... there are lots of maps out there and plenty of local government data too but the data available isn't always imported into OSM for the public to use easily.. And OSM has pretty decent detail in the region. And as we can see... things are always changing, new trails, new businesses and new roads.</p>
  <p>The goal of this group is to introduce OpenStreetMap to the community, develop a community of mappers, create the most amazing geodata possible using whatever method we can and finally strategize in order to get this data out into our community. Imagine accurate trail signage! Imagine further development of bike paths! Imagine anything you want, that's the joy of OpenStreetMap!</p>
  <p>Start mapping on OpenStreetMap now by signing up for free <a href='https://www.openstreetmap.org/user/new'>here!</a> </p>
</div>

<h2>Upcoming Events</h2>
<hr>
<!-- This loops through the paginated posts -->
{% for item in paginator.posts%}
<div class='space-bottom4'>

  {% if item.category == 'event' %}
    {% if item.date > site.time %}
      <h2><a href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a></h2>

      <div class='keyline-all round pad2 col12 clearfix'>
        <div class='col8 pad0y'>
          Join us: <span class='quiet'>{{item.date | date:"%A, %b %d %Y %I:%M %p"}}</span>
        </div>
        <div class='col4'>
          <a class='button fill-orange block' href='{{item.rsvp}}'>RSVP</a>
        </div>
      </div>

      {{item.content}}

      {% if item.when == "TBD" %}
        <div class='keyline-all round pad2 col12 clearfix' style="text-align:center;">
           <span class='quiet'>Date to be determined!</span>
        </div>
      {% else %}


      {% endif %}
    {% endif %}
  {% endif %}
</div>
{% endfor %}
<hr>
<br>
<br>
<h2>Blog Posts</h2>
<hr>
<!-- Pagination links -->
{% for item in paginator.posts %}
<div class='space-bottom4'>

  {% if item.category == 'post' %}
    <h2><a href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a></h2>
    {{item.content}}
    <div class='pad1y keyline-top'>
      <strong class='quiet small block space-bottom1'>Posted {{item.date | date:"%b %d %Y"}} by {{item.author}}</strong>
    </div>

  {% endif %}
</div>
{% endfor %}


<hr>
<br>
<br>
<h2>Past Events</h2>
<!-- This loops through the paginated posts -->
{% for item in paginator.posts%}
<div class='space-bottom4'>

  {% if item.category == 'event' %}
    {% if item.date < site.time %}
      <h2><a href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a></h2>
      {{item.content}}

        <div class='keyline-all round pad2 col12 clearfix'>
          <div class='col8 pad0y'>
            Event Date:  <span class='quiet'>{{item.date | date:"%A, %b %d %Y"}}</span>
          </div>
          <div class='col4'>
            <img src=''
          </div>
        </div>

    {% endif %}
  {% endif %}
</div>
{% endfor %}

<!-- Pagination links -->
<div class='col12 center small strong space pad2y'>
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href='{{site.baseurl}}/' class='button fill-blue icon left-arrow'>Newer</a>
    {% else %}
      <a href='{{site.baseurl}}/page{{ paginator.previous_page }}' class='button fill-blue icon left-arrow'>Newer</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a href='{{site.baseurl}}/page{{ paginator.next_page }}' class='button fill-blue rcon right-arrow'>Older</a>
  {% endif %}
  {% endif %}
  {% endfor %}
</div>

